{% extends 'base.html.twig' %}
{% block body %}
<h1>{{ annonce }}</h1>

<div>
    <p>{{ image }}</p>
    <p>{{ description }}</p>
    <p>{{ prix }} €</p>
    <p>{{ etiquette }}</p>
    <p>{{ dateDePublication }}</p>
</div>
<div>
    {% for commentThread in commentThreads %}
        <div>
            <div>
                {{ commentThread.comment }}
                {% for comment in commentThread.answers %}
                    <span>{{ comment }}</span>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
